.advantages__title {
  @include font-oswald (400, 36px, 40px);
  text-align: center;
  color: #000000;
}

.advantages__description {
  @include font-lato(400, 14px,18px);
  color: $base-color-text;
}
