.advantages__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text; /* Не понимаю смысла переменной */
}
