.aside__description {
  @include font($font-primary, 400, 16px, 20px);
  text-align: center;
  color: $text-bg;
}

.aside {
  height: 290px;
}

.aside--gift {
  position: relative;

  &::before {
    @include pseudo(78px, 80px);
    background-image: url("../../icons/stack.svg#catalog-gift");
    background-repeat: no-repeat;
    background-size: 78px 80px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    @include pseudo(280px, 290px);
    position: absolute;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85) 0% 100%),
      url("/images/catalog/catalog-aside-gift-cat@2x.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    z-index: -1;
  }
}
