.aside__description {
  @include font($font-primary, 400, 16px, 20px);
  text-align: center;
  color: $text-bg;
}

.aside__image--gift {
  position: relative;

  &::before {
    @include pseudo(78px, 80px);
    background-image: url("../../icons/stack.svg#catalog-gift");
    background-repeat: no-repeat;
    background-size: 78px 80px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
