.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(#ffffff 0% 50%, #eaeaea 50%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(#ffffff 0% 8%, #eaeaea 8%);
  }
}

.example__title {
  @include font($font-secondary, 400, 36px, 40px);
  text-align: left;
  color: $text-main;
  padding: 25px 20px 40px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 60px, 60px);
    text-align: left;
    color: $text-main;
    padding: 0;
    padding-top: 45px;
    padding-left: 30px;
    padding-bottom: 60px;
    width: 60%;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 146px;
  }
}

.example__wrapper {
  @include flex (flex, column, nowrap);
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include flex (flex, row, wrap);
    width: calc(100% - 60px);
  }

  @media (min-width: $desktop-width) {
    @include flex (flex, column, wrap);
    width: 1220px;
    justify-content: flex-start;
  }
}

.example__description {
  @include font($font-primary, 400, 14px, 18px);
  color: $text-secondary;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include font($font-primary, 400, 16px, 24px);
    color: $text-secondary;
    padding: 0;
    padding-bottom: 55px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 69px;
    width: 436px;
  }
}

.example__list {
  @include flex (flex, row, nowrap);
  justify-content: space-between;
  width: 280px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include flex (flex, row, wrap);
    max-width: 55%;
    justify-content: flex-start;
    gap: 43px;
    padding-bottom: 0;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    @include flex (flex, row, wrap);
    max-width: 375px;
    justify-content: flex-start;
    gap: 42px;
  }
}

.example__item {
  @include flex (flex, column, nowrap);
  width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 162px;
    min-height: 77px;
  }
}

.example__stats {
  @include font($font-secondary, 400, 24px, 24px);
  text-align: center;
  color: $text-main;
  text-transform: uppercase;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 30px, 37px);
    text-align: center;
    color: $text-main;
    text-transform: uppercase;
    padding-top: 18px;
  }
}

.example__loss {
  @include font($font-primary, 400, 12px, 12px);
  text-align: center;
  color: $text-secondary;
  text-transform: lowercase;
  position: relative;
  top: 9px;
  background-color: #eaeaea;
  min-width: 87px;

  @media (min-width: $tablet-width) {
    @include font($font-primary, 400, 14px, 14px);
    text-align: center;
    color: $text-secondary;
    text-transform: lowercase;
    background-color: #ffffff;
    top: 13px;
    padding: 0 9px;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
    top: 16px;
  }
}

.example__prepare {
  width: 240px;
  margin: 0;
  padding-left: 50px;

  @media (min-width: $tablet-width) {
    max-width: 178px;
    margin: 0 0 0 auto;
    padding-top: 11px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    width: 436px;
    margin: 0;
    padding-top: 55px;
    padding-left: 0;
  }
}

.example__food {
  @include font($font-secondary, 400, 14px, 20px);
  text-transform: uppercase;
  color: $text-main;

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 20px, 20px);
    text-transform: uppercase;
    color: $text-main;
    padding-left: 6px;
  }

  @media (min-width: $desktop-width) {
    color: $text-main;
    padding-left: 0;
  }
}

.example__price {
  @include font($font-secondary, 400, 14px, 20px);
  text-transform: uppercase;
  color: $text-main;

  @media (min-width: $tablet-width) {
    @include font($font-secondary, 400, 20px, 20px);
    text-transform: uppercase;
    color: $text-main;
    padding-left: 87px;
  }

  @media (min-width: $desktop-width) {
    color: $text-main;
    padding-left: 64px;
  }
}

.example__mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example__tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
    padding-right: 63px;
  }
}
