.example__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $color-title;
}

.example__description {
  @include font-lato(400, 14px, 18px);
  color: $color-text;
}

.example__stats {
  @include font-oswald(400, 24px, 24px);
  text-align: center;
  color: $color-title;
}

.example__loss {
  @include font-lato(400, 12px, 12px);
  text-align: center;
  color: $color-text;
}

.example__food {
  @include font-oswald(400, 14px, 20px);
  text-transform: uppercase;
  text-align: center;
  color: $color-title;
}

.example__money {
  @include font-oswald(400, 14px, 20px);
  text-transform: uppercase;
  text-align: center;
  color: $color-title;
}
