.extra__title {
  @include font-oswald(400, 24px, 24px);
  text-align: center;
  color: #000000;
}

.extra__subtitle {
  @include font-oswald(400, 16px, 16px);
  text-transform: uppercase;
  text-align: center;
  color: #222222;
}

.extra__description {
  @include font-lato(400, 14px, 14px);
  text-align: center;
  color: $base-color-text;
}

.extra__price {
  @include font-lato(400, 14px, 14px);
  text-align: right;
  color: $base-color-text;
}

.extra__button {
  @include font-oswald(400, 16px, 20px);
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
