.footer__academy {
  text-decoration: none;
  display: flex;
}

.footer__html {
  @include font($font-primary, 400, 16px, 20px);
  color: $text-secondary;
}

.footer__academy--link {
  &::after {
    @include pseudo(27px, 35px);
    mask-image: url("../../icons/stack.svg#academy");
    mask-repeat: no-repeat;
    background-color: #666666;
    mask-size: 27px 35px;
    margin-left: auto;
  }
}

.footer {
  background-color: $bg-secondary;
}

.footer__wrapper {
  @include flex(flex, column, wrap);
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-bottom: 40px;
}

.footer__title {
  padding-top: 40px;
  margin: 0 auto;
}
