.footer__academy {
  text-decoration: none;
}

.footer__html {
  @include font($font-primary, 400, 16px, 20px);
  color: $text-secondary;
}

.footer__academy--link {
  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 35px;
    mask-image: url("../../icons/stack.svg#academy");
    mask-repeat: no-repeat;
    background-color: #666666;
    mask-size: 27px 35px;
  }
}
