.header {
  @include flex (flex, row, nowrap);
  text-align: center;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: calc(100% - 64px);
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    justify-content: space-between;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 110px;
  }
}

.header__logo {
  @include flex (flex, row, nowrap);
  width: calc(100% - 64px);
  align-items: center;
  padding-top: 13px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    @include flex (flex, row, nowrap);
    align-items: center;
    padding: 0;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 210px;
  }
}

.header__sprite-logo-words {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding-left: 15px;
    margin: 0;
  }
}

//catalog

.header--catalog {
  @include flex (flex, row, nowrap);
  text-align: center;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: calc(100% - 64px);
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    justify-content: space-between;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 74px;
  }
}
