.hero__title {
  @include font($font-secondary, 400, 36px, 36px);
  text-align: center;
  color: $text-bg;
  margin: 0;
  padding-bottom: 25px;
}

.hero__subtitle {
  @include font($font-secondary, 400, 14px, 14px);
  text-transform: uppercase;
  color: $text-bg;
  margin: 0;
  padding-bottom: 29px;
}

.hero__button {
  @include font($font-secondary, 400, 16px, 20px);
  text-transform: uppercase;
  text-align: center;
  color: $text-bg;
  text-decoration: none;
  margin: 0;
  border: none;
  padding: 10px 44px;
  width: 100%;
}

.hero {
  @include flex(flex, column, wrap);
  position: relative;
}

.hero__choose {
  @include flex(flex, column, wrap);
  width: calc(100% - 40px);
  margin: 0 auto;
  align-items: center;
  padding-top: 27px;

  &::before {
    @include pseudo(320px, 302px);
    position: absolute;
    min-width: 100%;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85) 0% 100%),
      url("/images/index-hero-cat-mobile@2x.webp");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.hero__cats {
  width: calc(100% - 40px);
  margin: 0 auto;
}
