

.navigation {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media (min-width: $tablet-width) {
  .navigation-toogle {
    display: none;
  }
}

.navigation-wrapper {
  display: none;
}

@media (min-width: $tablet-width) {
  .navigation-wrapper {
    @include flex (flex, row, wrap);
  }
}

@media (min-width: $tablet-width) {
  .navigation-list {
    @include flex(flex, row, wrap);
    align-items: center;
    margin-left: 89px;
  }
}

.navigation-toogle {
  background-color: #000000;
  width: 24px;
  height: 2px;
  position: relative;
  top: -35px;
  right: calc(40px - 50%);
  border: none;
  padding: 0;

  &::before {
    @include pseudo(24px, 2px);
    position: absolute;
    background-color: #000000;
    top: 8px;
  }

  &::after {
    @include pseudo(24px, 2px);
    position: absolute;
    background-color: #000000;
    top: -8px;
  }
}
