

.navigation {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media (min-width: $tablet-width) {
  .navigation__toogle {
    display: none;
  }
}

.navigation__list {
  display: none;
}

.navigation__toogle {
  background-color: #000000;
  width: 24px;
  height: 2px;
  position: relative;
  border: none;
  padding: 0;

  &::before {
    @include pseudo(24px, 2px);
    position: absolute;
    background-color: #000000;
    top: 8px;
  }

  &::after {
    @include pseudo(24px, 2px);
    position: absolute;
    background-color: #000000;
    top: -8px;
  }
}
