.preview__title {
  @include font-oswald(400, 24px, 37px);
  text-transform: uppercase;
  color: #000000;
}

.preview__description {
  @include font-oswald(400, 14px, 18px);
  color: $base-color-text;
}

.preview__link {
  @include font-oswald(400, 16px, 16px);
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
