.social__link--vk {
  &::before {
    @include pseudo(27px, 17px);
    mask-image: url("../../icons/stack.svg#vk");
    mask-repeat: no-repeat;
    mask-size: 27px 17px;
    background-color: #666666;
  }

  &:hover::before,
  &:focus::before {
    background-color: $bg-main;
  }

  &:active::before {
    opacity: 0.5;
  }
}

.social__link--youtube {
  &::before {
    @include pseudo(24px, 19px);
    mask-image: url("../../icons/stack.svg#youtube");
    mask-repeat: no-repeat;
    mask-size: 24px 19px;
    background-color: #666666;
  }

  &:hover::before,
  &:focus::before {
    background-color: $bg-main;
  }

  &:active::before {
    opacity: 0.5;
  }
}

.social__link--telegram {
  &::before {
    @include pseudo(24px, 19px);
    mask-image: url("../../icons/stack.svg#telegram");
    mask-repeat: no-repeat;
    mask-size: 24px 19px;
    background-color: #666666;
  }

  &:hover::before,
  &:focus::before {
    background-color: $bg-main;
  }

  &:active::before {
    opacity: 0.5;
  }
}

.social {
  @include flex(flex, row, wrap);
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;

  &::before {
    @include pseudo(280px, 1px);
    position: absolute;
    background-color: #d9d9d9;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    @include pseudo(280px, 1px);
    position: absolute;
    background-color: #d9d9d9;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.social__item:not(:last-child) {
  margin-right: 24px;
}
