.subscribe__title {
  @include font-oswald(400, 24px, 24px);
  text-align: center;
  color: $color-title;
}

.subscribe__subtitle {
  @include font-oswald(400, 16px, 24px);
  text-align: center;
  color: $color-title;
}

.subscribe__field {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: $color-text;
}

.subscribe__button {
  @include font-oswald(400, 20px, 26px);
  text-transform: uppercase;
  text-align: center;
  color: $button-text;
}
